
.layout-shell {
    height: 100%;
}

.layout-shell.resizing {
    user-select: none;
    cursor: ew-resize;
}

.app-sidebar {
    border-right: 1px solid var(--rz-base-300);
}

.sidebar-content-root {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.sidebar-resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    border-left: 1px solid var(--rz-base-300);
    cursor: ew-resize;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--rz-text-tertiary-color);
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.02));
}

.sidebar-resize-handle:hover {
    color: var(--rz-primary);
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.08));
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
